<div id="page-header">
    <div class="container clearfix">
        <h3 class="mb-0 float-md-left">
            Deals List
        </h3>
        <!-- Page header breadcrumb -->
        <nav class="breadcrumb float-md-right"> <a class="breadcrumb-item" href="index.htm">Home</a> <span class="breadcrumb-item active">Deals List</span> </nav>
    </div>
</div>
<div id="content" class="py-3 py-lg-6">
    <div class="container">
        <div class="row">
            <!-- Products grid -->
            <div class="col-sm-12">
                <!-- Products filters -->
                <div class="row">
                    <div class="col-lg-6 mb-3 mb-lg-0">
                        <form class="form-inline justify-content-lg-start text-sm">
                            <label class="control-label mr-2">Search:</label>
                            <input type="text" class="form-control form-control-sm mr-lg-2" placeholder="ie. Calvin Klein">
                            <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i> Search </button>
                        </form>
                    </div>
                </div>
                <hr class="my-4">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Product 2 -->
                        <div class="card product-card mb-4">
                            <!-- Content -->
                            <div class="card-block p-3 pos-relative row">
                                <!-- Image content -->
                                <div class="col-md-4 mb-2 mb-md-0">
                                    <img class="rounded img-fluid" src="assets/img/shop/shoes-2.jpg" alt="Card image cap">
                                </div>
                                <!-- Product details -->
                                <div class="col-md-8 d-flex flex-column align-items-start">
                                    <p class="text-muted text-uppercase text-xs mb-0"><span class="text-primary">Story</span> / place</p>
                                    <h4 class="card-title mb-2">
                                        <a href="shop-product.htm" class="text-grey-dark">Deal Title</a>
                                    </h4>
                                    <p class="font-weight-bold">$49.99</p>
                                    <!--<p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star-o text-primary"></i> </p>-->
                                    <p class="text-muted text-xs">description.</p>
                                    <div class="mt-auto">
                                        <a href="shop-cart.htm" class="btn btn-primary btn-sm"><i class="fa fa-folder-open-o mr-2"></i> Details</a>
                                        <a href="#" class="btn btn-link btn-sm"><i class="fa fa-trash"></i> Delete this Deals</a>
                                        <p class="text-muted text-xs d-inline hidden-md-down">129 people lke it</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-lg justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="sr-only">Previous</span> </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">»</span> <span class="sr-only">Next</span> </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>