<label for="Name">Name</label>
<input ng-model="model.widget.name" type="text" class="form-control" id="Name" placeholder="Name">
<label for="Text">Text</label>
<input ng-model="model.widget.text" type="text" class="form-control" id="Text" placeholder="Text" value="" wireframe>
<a class="btn btn-block btn-danger"
   ng-show="model.widgetId!=null" ng-click="model.deleteWidget()">Delete</a>
<a class="btn btn-block btn-danger"
   ng-show="model.widgetId==null"
   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">Cancel</a>