<div id="page-header">
    <div class="container clearfix">
        <h3 class="mb-0 float-md-left">
            Stories List
        </h3>
        <!-- Page header breadcrumb -->
        <nav class="breadcrumb float-md-right"><a class="breadcrumb-item" href="index.htm">Home</a> <span
                class="breadcrumb-item active">Stories List</span></nav>
    </div>
</div>
<div id="content" class="py-3 py-lg-6">
    <div class="container">
        <div class="row">
            <!-- Products grid -->
            <div class="col-sm-12">
                <!-- Products filters -->
                <div class="row">
                    <div class="col-lg-6 mb-3 mb-lg-0">
                        <form class="form-inline justify-content-lg-start text-sm">
                            <label class="control-label mr-2">Search:</label>
                            <input type="text" class="form-control form-control-sm mr-lg-2"
                                   placeholder="ie. Calvin Klein">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                        </form>
                    </div>
                </div>
                <hr class="my-4">
                <div class="col-md-12 blog-roll blog-list">
                    <!-- Blog post -->
                    <div class="row blog-post">
                        <div class="col-md-1 date-md">
                            <!-- Date desktop -->
                            <div class="date-wrapper"> <span class="date-m bg-primary">Feb</span> <span class="date-d">17</span> </div>
                            <!-- Meta details desktop -->
                            <p class="text-muted"> <i class="fa fa-user"></i> <a href="#">Erin</a> </p>
                        </div>
                        <div class="col-md-11">
                            <div class="tags"><a href="#" class="text-primary">story</a> / <a href="#" class="type">Boston</a></div>
                            <h4 class="title media-heading">
                                <a href="blog-post.htm">At Et Luctus Sit Vicis</a>
                            </h4>
                            <!-- Meta details mobile -->
                            <ul class="list-inline meta text-muted">
                                <li class="list-inline-item"><i class="fa fa-calendar"></i> Fri 17th Feb 2017</li>
                                <li class="list-inline-item"><i class="fa fa-user"></i> <a href="#">Erin</a></li>
                            </ul>
                            <div class="row">
                                <div class="col-md-4 push-md-8">
                                    <div class="blog-media">
                                        <a href="blog-post.htm">
                                            <img src="assets/img/blog/water-pump.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8 pull-md-4">
                                    <p>Jumentum neque paratus praesent typicus venio virtus vulputate. Autem nisl scisco. Amet eu interdico nibh premo tamen ut vel. Aliquip consectetuer dolore lenis quadrum turpis.</p>
                                    <p>Humo mauris nisl ratis typicus uxor veniam. Hendrerit ludus neo. Abdo adipiscing ille nobis quia quis refoveo sed vereor. Hos humo nibh quia sino. Ad dolore jus metuo paulatim valde vulputate.</p>
                                    <ul class="list-inline links">
                                        <li class="list-inline-item">
                                            <a href="blog-post.htm" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-right"></i> Read more</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="blog-post.htm#comments" class="btn btn-secondary btn-sm"><i class="fa fa-comment"></i> 10 Comments</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Blog post -->

                    <div class="pagination">
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Load More</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>