<div id="page-header">
    <div class="row col-md-9 alignMiddle container">
        <div class="col-md-2">
            <img src="assets/img/team/jimi.jpg" class="img-thumbnail" alt="Jimi" width="110" height="110">
        </div>
        <!-- Page header breadcrumb -->
        <div class="col-md-8">
            <h3 class="name">
                lingzseed
            </h3>
            <p class="role">Ling &amp; Zhang</p>
            <p class="member-since">Form: MA</p>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-primary">Edit</button>
        </div>
    </div>
</div>
<div id="content" class="pt-3 pb-lg-0">
    <div class="container">
        <!-- Product view -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Product tabs, @see: elements-navs-tabbable.htm -->
                <div class="card border-top-0">
                    <div class="card-header bg-white pt-0 px-0">
                        <ul class="nav nav-tabs nav-justified card-header-tabs flex-column flex-md-row">
                            <li class="nav-item"><a show-tab
                                                    class="nav-link py-md-3 text-uppercase font-weight-bold active"
                                                    href="profile/#likeStoryTab" data-toggle="tab" aria-expanded="true">Favorite
                                Stories</a>
                            </li>
                            <li class="nav-item"><a show-tab class="nav-link py-md-3 text-uppercase font-weight-bold"
                                                    href="profile/#likeDealTab" data-toggle="tab" aria-expanded="false">Favorite
                                Deals</a>
                            </li>
                            <li class="nav-item"><a show-tab class="nav-link py-md-3 text-uppercase font-weight-bold"
                                                    href="profile/#myStoryTab" data-toggle="tab" aria-expanded="true">My
                                Stories</a>
                            </li>
                            <li class="nav-item"><a show-tab class="nav-link py-md-3 text-uppercase font-weight-bold"
                                                    href="profile/#myDealTab" data-toggle="tab" aria-expanded="false">My
                                Deals</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-block p-4">
                        <div class="tab-content">
                            <!-- Tab 1: Description tab content -->
                            <div class="tab-pane active" id="likeStoryTab" aria-expanded="true">
                                <h4 class="card-title">
                                    Favorite Stories
                                </h4>
                                <div class="col-md-12 blog-roll blog-list">
                                    <!-- Blog post -->
                                    <div class="row blog-post">
                                        <div class="col-md-1 date-md">
                                            <!-- Date desktop -->
                                            <div class="date-wrapper"><span class="date-m bg-primary">Feb</span> <span
                                                    class="date-d">17</span></div>
                                            <!-- Meta details desktop -->
                                            <p class="text-muted"><i class="fa fa-user"></i> <a href="#">Erin</a></p>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="tags"><a href="#" class="text-primary">story</a> / <a href="#"
                                                                                                              class="type">Boston</a>
                                            </div>
                                            <h4 class="title media-heading">
                                                <a href="blog-post.htm">At Et Luctus Sit Vicis</a>
                                            </h4>
                                            <!-- Meta details mobile -->
                                            <ul class="list-inline meta text-muted">
                                                <li class="list-inline-item"><i class="fa fa-calendar"></i> Fri 17th Feb
                                                    2017
                                                </li>
                                                <li class="list-inline-item"><i class="fa fa-user"></i> <a
                                                        href="#">Erin</a></li>
                                            </ul>
                                            <div class="row">
                                                <div class="col-md-4 push-md-8">
                                                    <div class="blog-media">
                                                        <a href="blog-post.htm">
                                                            <img src="assets/img/blog/water-pump.jpg"
                                                                 alt="Picture of frog by Ben Fredericson"
                                                                 class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 pull-md-4">
                                                    <p>Jumentum neque paratus praesent typicus venio virtus vulputate.
                                                        Autem nisl scisco. Amet eu interdico nibh premo tamen ut vel.
                                                        Aliquip consectetuer dolore lenis quadrum turpis.</p>
                                                    <p>Humo mauris nisl ratis typicus uxor veniam. Hendrerit ludus neo.
                                                        Abdo adipiscing ille nobis quia quis refoveo sed vereor. Hos
                                                        humo nibh quia sino. Ad dolore jus metuo paulatim valde
                                                        vulputate.</p>
                                                    <ul class="list-inline links">
                                                        <li class="list-inline-item">
                                                            <a href="blog-post.htm" class="btn btn-secondary btn-sm"><i
                                                                    class="fa fa-arrow-circle-right"></i> Read more</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="blog-post.htm#comments"
                                                               class="btn btn-secondary btn-sm"><i
                                                                    class="fa fa-comment"></i> 10 Comments</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Blog post -->
                                </div>
                            </div>
                            <!-- Tab 2: Specification tab content -->
                            <div class="tab-pane" id="likeDealTab" aria-expanded="false">
                                <h4 class="card-title">
                                    Favorite Deals
                                </h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Product 2 -->
                                        <div class="card product-card mb-4">
                                            <!-- Content -->
                                            <div class="card-block p-3 pos-relative row">
                                                <!-- Image content -->
                                                <div class="col-md-4 mb-2 mb-md-0">
                                                    <img class="rounded img-fluid" src="assets/img/shop/shoes-2.jpg"
                                                         alt="Card image cap">
                                                </div>
                                                <!-- Product details -->
                                                <div class="col-md-8 d-flex flex-column align-items-start">
                                                    <p class="text-muted text-uppercase text-xs mb-0"><span
                                                            class="text-primary">Story</span> / place</p>
                                                    <h4 class="card-title mb-2">
                                                        <a href="shop-product.htm" class="text-grey-dark">Deal Title</a>
                                                    </h4>
                                                    <p class="font-weight-bold">$49.99</p>
                                                    <!--<p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star-o text-primary"></i> </p>-->
                                                    <p class="text-muted text-xs">description.</p>
                                                    <div class="mt-auto">
                                                        <a href="shop-cart.htm" class="btn btn-primary btn-sm"><i
                                                                class="fa fa-folder-open-o mr-2"></i> Details</a>
                                                        <a href="#" class="btn btn-link btn-sm"><i
                                                                class="fa fa-trash"></i> Delete this Deals</a>
                                                        <p class="text-muted text-xs d-inline hidden-md-down">129 people
                                                            lke it</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="myStoryTab" aria-expanded="false">
                                <h4 class="card-title">
                                    My Stories
                                </h4>
                            </div>
                            <div class="tab-pane" id="myDealTab" aria-expanded="false">
                                <h4 class="card-title">
                                    My Deals
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
</div>