<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">


        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website" class="black-color">
                <span class="glyphicon glyphicon-chevron-left"/>
            </a>
        </div>

        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="black-color">
                <span class="glyphicon glyphicon-plus"/>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand white-color"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                Page
            </a>
        </div>

    </div>
</nav>


<div class="container">
    <form>
        <ul class="list-group blue-color">
            <li ng-repeat="page in model.pages" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"/>
                </a>
            </li>
        </ul>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/profile/{{model.userId}}" class="blue-color">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>
        </div>
    </div>
</nav>

