<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">


        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="black-color">
                <span class="glyphicon glyphicon-chevron-left"/>
            </a>
        </div>

        <div class="navbar-text pull-right">
            <a ng-click="model.updatePage(model.page)" class="black-color">
                <span class="glyphicon glyphicon-ok"/>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand white-color">
                Edit Page
            </a>
        </div>

    </div>
</nav>


<div class="container">
    <form>
        <label for="Name">Name</label>
        <input ng-model="model.page.name" type="text" class="form-control" id="Name" placeholder="Name">
        <label for="Description">Description</label>
        <input ng-model="model.page.description" type="text" class="form-control" id="Description" placeholder="Page Description" value="Blog Post">
        <a class="btn btn-block btn-primary" ng-click="model.updatePage(model.page)">Update</a>
        <a class="btn btn-block btn-danger" ng-click="model.deletePage()">Delete</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/profile/{{model.userId}}" class="blue-color">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>
        </div>
    </div>
</nav>

